<button (click)="toggle()" class="btn btn-primary">Add Para</button>
<!-- <p *ngIf="show"  >The component provides a countdown timer in the UI that shows both the percentage and remaining time for an offer, and once the time expires, it will signal that the offer is no longer available (by setting offerExpired to true).<p> -->
    <p     *ngFor="let paras of para"  >The component provides a countdown timer in the UI that shows both the percentage and remaining time for an offer, and once the time expires, it will signal that the offer is no longer available (by setting offerExpired to true).<p>



